/* Estilos para la página de comunicación Restaurante-Proveedor */

/* Estilos para el formulario de enviar mensaje */
form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1{
    text-align: center;
}
h2{
    text-align:center;
}


form h1 {
    text-align: center;
    margin-bottom: 30px;
    
}

form label {
    font-weight: bold;
}

form textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Estilos para el historial de mensajes */
#mensajes {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#mensajes p {
    margin-bottom: 10px;
}

#mensajes p strong {
    font-weight: bold;
    color: #007bff;
}
